<p>Thank you for booking with us <%= @booking.name %>!</p>
<p>
Booking details<br>
--------------------------
</p>
<p>Appointment: <%= @booking.appointment_type %></p>
<p>Date: <%= @booking.date %></p>
<p>Time: <%= @booking.time %></p>

<p>We look forward to seeing you soon, if you'd like to change your appointment contact us on ...%></p>