<p>Thank you for booking with us <%= @booking.name %>!</p>
<p>
Booking details<br>
--------------------------
</p>
<p>Appointment: <%= @booking.appointment_type %></p>
<p>Date: <%= @booking.date %></p>
<p>Time: <%= @booking.time %>:00</p>

<p>We'll be in touch as soon as possible to confirm your booking, if you'd like to make any changes, please call us on... or email us at houseofcamden@gmail.com</p>